.messages-list-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;

    padding: 2px 10px;
}

.messages-list-item__m-my {
    justify-content: flex-end;
}

.messages-list-item__content {
    background: #ccc;
    padding: 5px;
    border-radius: 5px;

    font-size: 14px;
}

.messages-list-item__time {
    text-align: right;

    font-size: 13px;
}

.messages-list-item__contact-avatar {
    width: 30px;
    height: 30px;
    background: #222222;
    border-radius: 50%;

    margin-right: 10px;
}

.messages-list-item__contact-name {
    font-weight: 500;
}
